.main-content {
    padding: 40px 10px 10px 10px;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}


.scenario {
  border: 2px solid black;
  min-height: 100px
}
.scenario_name {
  border-bottom: 2px solid black;
  min-height: 30px
}
.scenarioitem {
  min-height: 100px
}

ul.sorttable {
  list-style: none;
  padding: 0;
}

li.sorttable {
  background: #eee;
  margin: 1px;
  padding: 10px 15px;
  cursor: move;
  border-radius: 5px;
}

.sortable-ghost {
  opacity: .3;
  background: #f60;
}

button.js-remove {
  float: right;
  cursor: pointer;
  margin-right: 5px;
}
button.js-edit {
  float: right;
  cursor: pointer;
  margin-right: 5px;
}

div.scenario {
  margin-bottom: 20px;
}

#submit {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* For the demo only */
#submit {
    background: #0070FF;
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -35px;
    
}

#trashcan {
  width: 200px;
  height: 200px;
  background: red;
  float: bottom;
}