/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.scriptWriter ul[dnd-list] {
	list-style: none;
}
.scriptWriter ul[dnd-list],
.scriptWriter ul[dnd-list] > li {
	position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.scriptWriter .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.scriptWriter .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.scriptWriter .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.scriptWriter .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.scriptWriter .dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/***************************** Element Selection *****************************/

.scriptWriter .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}


.scriptWriter .dropzone .selected .box {
    border-color: #d6e9c6;
}

.scriptWriter .dropzone .selected .box > h3 {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
}

.scriptWriter .dropzone .panel-heading {
	background-color: #00695c !important;
}
.scriptWriter .dropzone .panel-heading:hover {
	background-color: #ff3d00 !important;
}
.scriptWriter .dropzone .scenario_label {
	float: left; 
	width: 80px;
	color: white !important;
	padding-top: 5px !important;
}

.scriptWriter .dropzone .scenario_input {
	margin-left: 80px !important;
}

/***************************** Element type specific styles *****************************/

.scriptWriter .dropzone .item {
    padding: 10px 15px;
    min-height: 50px;
}

.scriptWriter .dropzone .item .functions {
	padding: 0px !important;
	float: right;
}
.scriptWriter .dropzone .container-element {
    margin: 10px;
}

.scriptWriter .dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Steps predifinded *******************/
.scriptWriter ul {
	list-style: none;
}

.scriptWriter .sidebar-nav ul {
	padding-left: 0px  !important;
    padding-right: 15px !important;
}

.scriptWriter .sidebar-nav ul ul {
	padding-left: 0px  !important;
    padding-right: 0px !important;
}

.scriptWriter .sidebar-nav .list-group-item {
	background-color: #00695c !important;
	padding: 10px !important;
	margin: 0px !important;
}

.scriptWriter .sidebar-nav .list-group-item:hover {
	background-color: #4db6ac !important;
}
.scriptWriter .sidebar-nav .list-group-item a {
	color: white !important;
}
.scriptWriter .sidebar-nav .list-group-item a:hover {
	background-color: transparent !important;
	color: black !important;
} 

.scriptWriter .sidebar-nav .item{
	background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 5px;
    text-indent: 0px;
    min-height: 40px;
    max-height: 80px;
}

.scriptWriter .sidebar-nav .item:hover {
	background-color: #fff176;
}

/***************************** Toolbox *****************************/
.scriptWriter .nav-right {
    z-index: 100;
    position: fixed;
    right: 0px;
    width: 200px;
    height: 100%;
    margin-right: 10px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.scriptWriter .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

.scriptWriter .toolbox .item {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
}

.scriptWriter .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

.scriptWriter .toolbox .dndDragging {
    opacity: 0.5;
}

.scriptWriter .toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/
.scriptWriter .nav-right .trashcan {

}

.scriptWriter .nav-right .trashcan ul {
    list-style: none;
    padding-left: 0px;

}

.scriptWriter .nav-right .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.scriptWriter .nav-right .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.scriptWriter .nav-right .trashcan .dndPlaceholder {
    display: none;
}