<div class="container-fluid dashboard-content">
  <div class="row">
    <div class="col-md-9">
      <div class="page-header">
        <h4>Create TestScript</h4>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">      	  
    	  	<a href="#feature/ios">
            <div class="well text-center main-text-color">
              <span class="glyphicon glyphicon-plus-sign glyphicon-lg"></span>
              <p>iOS</p>
            </div>
        	</a>      
 
      	</div>
      	
      	<div class="col-sm-6 col-md-4 col-lg-3">      	  
   
        	
        	<a href="#feature/android">
            <div class="well text-center main-text-color">
              <span class="glyphicon glyphicon-plus-sign glyphicon-lg"></span>
              <p>Android</p>
            </div>
        	</a> 	  
      	</div>
      	
      </div>
      
    </div>
    
    <div class="col-md-3">
      <div class="page-header"><h4>Info</h4></div>
      <div class="text-center">
		Need to add more info!
      </div>
    </div>
  </div>
</div>