<div class="row">
	<div class="col-md-10">
		<div class="jumbotron" style="padding: 10px;">
			<h1><strong><font style="color:white">SEN</font></strong><font style="color:black">TESTKIT</font><span style="color:pink">&nbsp;ScriptWriter</span> </h1>
			<p>
				Drag & drop to write Calabash test script for iOS and Android.
			</p>
			<p>
				<a href="https://github.com/marceljuenemann/angular-drag-and-drop-lists" class="btn btn-success btn-lg" role="button">Code on github &raquo;</a>
			</p>
		</div>
	</div>
</div>

